* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: #770f08;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header_img_text {
    display: flex;
    align-items: center;
    margin-left: 2em;
    gap: 10px;
    font-size: 60%;
}

.cep {
    width: 50px;
    height: 50px;
}

.menu {
    margin-right: 2em;
}

.list__a {
    color: white;
    padding: 7px;
    border-radius: 4px;
    transition: .6s;
}

.list__a:hover {
    background-color: #884141;
}

.botaozinho {
    list-style: none;
    display: flex;
}

.PROJ {
    display: flex;
    width: auto;
    height: auto;
    margin: 2em 7em;
}

.livros {
    width: 15%;
    height: 15%;
}

.integrantes {
    padding: 50px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.foto-integrante {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}


.div-integrantes {
    margin-right: 30px;
    justify-items: center;
}

.titulo-integrantes {
    padding-left: 50px;
    padding: 50px;

}


footer {
    background-color: #770f08;
    color: white;
    margin-top: 2.5rem;
}

.formulario {
    width: 400px;
    padding: 30px;
    border: 1px solid #ccc;
    margin: 0 auto;
}

.formulario p {
    width: 100%;
    font-size: 1.5em;
}

.field {
    width: 100%;
    margin: 15px 0;
}

.field label,
.field span {
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}

.radiobox label {
    width: auto;
    display: inline-block;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
}

input#nao {
    margin-left: 30px;
}

textarea {
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}

input[type=submit] {
    display: block;
    background-color: #ccc;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 30px;
}

* {
    margin: 0;
    padding: 0;
}

.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 50px;
}

.slider li:nth-child(3) label {
    left: 90px;
}

.slider li:nth-child(4) label {
    left: 130px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked~img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.foto {
    width: 50%;
}

.teclado {
    background-color: #770f08;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
}

.tecla {
    background-color: #000;
    color: #770f08;
    padding: 30px;

}

.tecla.ativa,
.tecla:active {
    background-color: #770f08;
    color: #000;
    outline: none;
}

.tecla.focus,
.tecla:focus {
    outline: none;
    box-shadow: 1px 1px 10px white;
}

.tecla.active:focus,
.tecla.active:focus {
    box-shadow: 3px 3px 0 white;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}


body {
    margin: 0;
    background: #14b5d1;
    font-size: 1.3em;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

section {
    float: left;
    width: 100%;
    background: #fff;
    position: relative;
    box-shadow: 0 0 5px 0px #333;
}


/* the important styles */

.arrow-wrap {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: -5em;
    margin-left: -5em;
    background: #111;
    width: 10em;
    height: 10em;
    padding: 4em 2em;
    border-radius: 50%;
    font-size: 0.5em;
    display: block;
    box-shadow: 0px 0px 5px 0px #333;
}

.arrow {
    float: left;
    position: relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #ffffff transparent transparent transparent;
    -webkit-transform: rotate(360deg)
}

.arrow:after {
    content: '';
    position: absolute;
    top: -3.2em;
    left: -3em;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #111 transparent transparent transparent;
    -webkit-transform: rotate(360deg)
}


.hint {
    position: absolute;
    top: 0.6em;
    width: 100%;
    left: 0;
    font-size: 2em;
    font-style: italic;
    text-align: center;
    color: #fff;
    opacity: 0;
}


.arrow-wrap:hover .hint {
    opacity: 1;
}


@-webkit-keyframes arrows {
    0% {
        top: 0;
    }

    10% {
        top: 12%;
    }

    20% {
        top: 0;
    }

    30% {
        top: 12%;
    }

    40% {
        top: -12%;
    }

    50% {
        top: 12%;
    }

    60% {
        top: 0;
    }

    70% {
        top: 12%;
    }

    80% {
        top: -12%;
    }

    90% {
        top: 12%;
    }

    100% {
        top: 0;
    }
}

.arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
}





/*  this is the unimportant CSS used just to layout the content  */



header {
    float: left;
    width: 100%;
    padding: 2em 4em;
    color: #fff;
    height: calc(100% - 3em);
}

header h1 {
    margin: 0;
}

header h3 {
    margin: 0;
    color: #56dcee;
}

header a {
    color: #56dcee;
    opacity: 0.5;
    text-decoration: none;
}

header a:hover {
    color: #333;
    opacity: 1;
}


.content {
    float: left;
    width: 70%;
    margin: 0 15%;
    padding: 2em 0;
}

h1 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 300;
    font-size: 2.4em;
}

h2,
h3 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    margin-top: 2em;
}

pre {
    background: #ededed;
    padding: 1em;
}

p {
    color: #555;
    font-size: 0.9em;
}

p a {
    color: #14b5d1;
    text-decoration: none;
}

.arrow-wrap {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: -5em;
    margin-left: -5em;
    background: #111;
    width: 10em;
    height: 10em;
    padding: 4em 2em;
    border-radius: 50%;
    font-size: 0.5em;
    display: block;
}

.arrow {
    float: left;
    position: relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #ffffff transparent transparent transparent;
    -webkit-transform: rotate(360deg);
}

.arrow:after {
    content: '';
    position: absolute;
    top: -3.2em;
    left: -3em;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #111 transparent transparent transparent;
    -webkit-transform: rotate(360deg)
}

@-webkit-keyframes arrows {
    0% {
        top: 0;
    }

    10% {
        top: 12%;
    }

    20% {
        top: 0;
    }

    30% {
        top: 12%;
    }

    40% {
        top: -12%;
    }

    50% {
        top: 12%;
    }

    60% {
        top: 0;
    }

    70% {
        top: 12%;
    }

    80% {
        top: -12%;
    }

    90% {
        top: 12%;
    }

    100% {
        top: 0;
    }
}

.arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
}