@media screen and (min-width: 394px) and (max-width: 720px) {
    header {
        padding: 5px;
    }
    .headercep {
        display: none;
    }
    .cep {
        width: 45px;
        height: 45px;
    }
    .header_img_text {
        margin-left: 5px;
    }
    .list__a {
        font-size: 78%
    }
    footer {
        font-size: 11px;
    }
}

