@media screen and (min-width: 394px) and (max-width: 720px) {
    * {
        font-size: 75%;
    }
    header {
        padding: 5px;
    }
    .headercep {
        display: none;
    }
    .cep {
        width: 45px;
        height: 45px;
    }
    .header_img_text {
        margin-left: 5px;
    }
    .proj {
        width: auto;
    }
}

@media screen and (min-width: 394px) and (max-width: 466px) {
    header {
        height: 45px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .header_img_text {
        display: none;
    }
    .menu {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0;
    }
}