@media screen and (min-width: 394px) and (max-width: 720px) {
    header {
        padding: 5px;
    }
    .headercep {
        display: none;
    }
    .cep {
        width: 45px;
        height: 45px;
    }
    .header_img_text {
        margin-left: 5px;
    }
    .list__a {
        font-size: 78%
    }
    .PROJ {
        margin: 2em;
    }
    .livros {
        display: none;
    }
    .slider {
        width: auto;
    }
    .slider img {
        height: 100%;
        width: 100%;
    }

    .integrantes {
        padding: 20px;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .foto-integrante {
        width: auto;
        height: 120px;
    }
    .div-integrantes {
        margin-right: 0;
        margin: 25px;
        text-align: center;
    }
    .integrantes_md {
        margin: 25px 0;
    }
    .integrantes_text {
        text-align: justify;
    }
}

@media screen and (min-width: 394px) and (max-width: 466px) {
    header {
        height: 45px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .header_img_text {
        display: none;
    }
    .menu {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0;
    }
}

@media screen and (min-width: 580px) and (max-width: 720px) {
    .slider {
        width: 500px;
    }
    .slider img {
        height: 100%;
        width: 100%;
    }
}