

@media screen and (min-width: 394px) and (max-width: 466px) {
    header {
        height: 45px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .header_img_text {
        display: none;
    }
    .menu {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0;
    }
}

@media screen and (min-width: 580px) and (max-width: 720px) {
    .slider {
        width: 500px;
    }
    .slider img {
        height: 100%;
        width: 100%;
    }
}