#calculadora {
    width: 340px;
    height: auto;
    background-color: #eaedef;
    margin: 4em auto;
    padding: 1em;
    top: 20px;
    border-radius: 3.1%;
    position: relative;
    text-align: center;
    box-shadow: 3px 1px 5px .2px rgb(213 213 213);
  }
  
  #resultado {
    height: 120px;
  }
  
  .vsaida {
    text-align: right;
    margin: 5px;
    font-size: 30px;
    width: 90%;
  }
  
  .teclado {
    height: 400px;
  }
  
  .botaoAux,
  .numero,
  .limpar,
  .divisao,
  .soma,
  .multiplicacao,
  .subtracao,
  .igual {
    height: 60px;
    width: 53px;
    margin: 15px;
    float: left;
    border-radius: 25%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
  }



.igual,
.botaoAux,
.limpar,
.multiplicacao,
.soma,
.divisao,
.subtracao,
.numero {
    font-size: 18px;
    background-color: #d4c9ff;
  }
  
  .numero,
  .botaoAux,
  .limpar,
  .divisao,
  .soma,
  .multiplicacao,
  .igual,
  .subtracao {
    cursor: pointer;
  }
  
  .botaoAux:active,
  .numero:active,
  .limpar:active,
  .divisao:active,
  .soma:active,
  .multiplicacao:active,
  .subtracao:active,
  .igual:active {
    font-size: 13px;
  }
  
  .botaoAux:focus,
  .numero:focus,
  .vazio:focus,
  .limpar:focus,
  .divisao:focus,
  .soma:focus,
  .multiplicacao:focus,
  .subtracao:focus,
  .igual:focus {
    outline: 0;
  }  